<a href="https://colab.research.google.com/github/rainaoommen/Python/blob/main/Python_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
Report=['English',90,'Mathematics',80,'Hindi',75,'Physics',93,'Chemistry',78,'Biology',81]
# Loop through the list and check each element

for i in range(0,7,2):
  print(i)
print("code")

0
2
4
6
code

In [13]:
for i in range(6,0,-2):
    print(i)

6
4
2

In [24]:
list1=[34,56,67,34,89,67,33,89,99,56,12,43,72,48,22]
occurence_67 = 0
for i in list1:
  if i == 67 :
    occurence_67 = occurence_67+1
#print("Number of occurances of 67:", occurence_67)

print(list1[0])

34

In [25]:
upperlimit=int(input("Please enter the upper limit = "))
lowerlimit=int(input("Please enter the lower limit = "))
x = int(input("multiple of which number = "))
y = range(lowerlimit,upperlimit,1)
count=0
for i in y:
 if (i%x==0):
  print(i)
  count=int(count+1)
print("Number of multiples of",x,"between",lowerlimit,"and",upperlimit,"is",count)

Please enter the upper limit = 100
Please enter the lower limit = 20
multiple of which number = 8
24
32
40
48
56
64
72
80
88
96
Number of multiples of 8 between 20 and 100 is 10